

h1 {
  font-family: cursive;
  text-align: center;
 
}
p {
  text-align: center;
  font-family: cursive;

}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 60px;
  background-color: #828282;
  border: 1px solid #000000;
  
  display: inline;
}
li {
    background-color:#828282;

  float: right;
}
li a{
  display: block;
  color: #0400ff;
  text-decoration: none;
  text-align: center;
  padding:14px 16px;

}
 .active{
  background-color: #0099ff;
  
}
.active a{
  color: #000000;
}

.Us-home {
    text-align: center;
    border-bottom: .05rem solid #e5e5e5;
    padding-top: 10rem;
    padding-bottom: 10rem;
    background-image:url(https://github.com/Utiliplay/Utiliplay/blob/master/utiliplay%20logo.png?raw=true);
    background-repeat: no-repeat;
    background-position: bottom;
    opacity: 1;
    background-size: cover;
}
.Us .btn {
    padding: .75rem 1.5rem;
    font-size: 1.5rem;
    opacity: 1;
}
.btn {
    display: inline-block;
    font-weight: 400;
    line-height: 1.25;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: .5rem 1rem;
    font-size: 1rem;
    border-radius: .25rem;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}
.btn-success {
    color: #fff;
    background-color: #5cb85c;
    border-color: #5cb85c;
}
.Us-contact {
    text-align: center;
    border-bottom: .05rem solid #e5e5e5;
    padding-top: 10rem;
    padding-bottom: 10rem;
    background-image: url(https://github.com/Utiliplay/Utiliplay/blob/master/phone%20app%20img.png?raw=true);
    background-repeat: no-repeat;
    background-position: bottom;
    opacity: 1;
    background-size: cover;
    border:2px solid;
    border-radius:60px:  
}

.right-collum{
  float: right;
}
