h1 {
  font-family: cursive;
  text-align: center;
}
p {
  text-align: center;
  font-family: cursive;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
li a{
  display: block;
  width: 60px;
}
